{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
{{ parent() }}
<li> <a href="{{ path('solucel_admin_country_index') }}">Listado de Paises</a> </li>
<li> <a href="{{ path('solucel_admin_country_edit', { 'id': entity.id }) }}">Editar País</a> </li>
{% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('SolucelAdminBundle:Country:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    
    

{% endblock %}