{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li> <a href="#">Listado de Notificaciones</a> </li>
    {% endblock %}

{% block title %}
    Listado de Notificaciones
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/jquery.dataTables-cust.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/ColReorder.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/FixedColumns.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/ColVis.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/ZeroClipboard.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/media/js/TableTools.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/DT_bootstrap.js') }}"></script>
{% endblock %}


{% block body -%}
{{ parent() }}

<script type="text/javascript" language="JavaScript">
	
    function markRead(id){
    	
    	value = $("#check_"+id).prop( "checked" ) ? 1 : 0;
    	//alert(value);
    	
		$.ajax({
		    type: "POST",
		    url: "{{ path('notification_read') }}",
		    data: {"id": id, "value": value},
		    success:function(data){
		    	window.location.href ='{{ path ("notification_index") }}';	
		    }
		});
    	
    }	
</script>


	<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
	  
	  <div id="myNotificationsDiv">
	  	
			
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
			    <header>
			        <h2> Listado de Notificaciones </h2>
			    </header>
			
			    <!-- widget div-->
			    <div>
			
			        <!-- widget edit box -->
			        <div class="jarviswidget-editbox">
			            <!-- This area used as dropdown edit box -->
			
			        </div>
			        <!-- end widget edit box -->
			
			        <!-- widget content -->
			        <div class="widget-body no-padding">
			            <div class="widget-body-toolbar">
			
			            </div>			
			            <table id="myNotificationsTable" class="table table-striped table-bordered table-hover">
			                <thead>
			                    <tr>
			                    	<th>Nombre</th>
			                    	<th style="width: 40%">Descripci&oacute;n</th>
			                    	<th>Fecha</th>
			                        <th>Creada por</th>
			                        <th width="150">Leido</th>
			                    </tr>
			                </thead>
			                <tbody>
			                {% for entity in myNotifications %}
			                    <tr>
			                        <td>{{ entity.name }}</td>
			                        <td>{{ entity.description }}</td>
			                        <td>{{ entity.createdAt|date("d/m/Y") }}</td>
			                        <td>{{ entity.createdBy }}</td>
			                        <td>
			                            <input {% if entity.alreadyRead %}{{'checked="checked"'}}{% endif%} type="checkbox" id="check_{{entity.id}}" onclick="markRead({{entity.id}})" />
			                        	
			                        </td>
			                    </tr>
			                {% endfor %}
			                </tbody>
			            </table>
			
			
			        </div>
			        <!-- end widget content -->
			
			    </div>
			    <!-- end widget div -->
	  	
	  </div>	  
	</div>
</div>	
	  


{% endblock %}


{% block extrascripts %}

	$( "#tabs" ).tabs();
	jQuery.ajax({ async: false});
	
	
    $(document).on('click', '.btn-delete', function(e){
    e.preventDefault();

    var url = $(this).attr('href'); 
    var c = confirm('Seguro que desea borrar este registro? También borrará toda la información asociada.');

    if(c){
    	window.location = url;
    }else{
    	return false;
    }


    });
    
    
    $('#myNotificationsTable').dataTable({
	    "sPaginationType" : "bootstrap_full",
	    "aaSorting": [[ 4, "asc" ]],
	    "bStateSave": true,
	    "fnStateSave": function (oSettings, oData) {
	    localStorage.setItem( 'DataTablesMyNotifications', JSON.stringify(oData) );
	    },
	    "fnStateLoad": function (oSettings) {
	    return JSON.parse( localStorage.getItem('DataTablesMyNotifications') );
	    }
    });
    
    


{% endblock %}