{% for module in user_access %}

	{% if(module.moduleType == 'link') %}
		
		{% if(module.visible == 1) %}
			<li {{app.session.get('item') == module.systemName ? 'class="active"' : '' }} ><a href="{{ path(module.systemRoute)}}"><i class="fa fa-dashboard fa-fw"></i><span class="item-label">{{ module.moduleName }}</span></a></li>
		{% endif %}
		
	{% elseif(module.moduleType == 'menu') %}
	
        <li  class="menu">
            <a href="#" class="menu-toggle"><i class="fa fa-cogs fa-fw"></i><span class="item-label">{{ module.moduleName }}</span><i class="caret"></i></a>
            <ul class="submenu">
            	
                {% for submenu in module %}
                	{% if submenu is iterable %}
						<li id="{{submenu.systemName}}" {{app.session.get('item') == submenu.systemName ? 'class="active"' : '' }} ><a href="{{ path(submenu.systemRoute)}}"><span>{{ submenu.moduleName  }}</span></a></li>
						<script type="text/javascript" language="JavaScript">
							{% if(app.session.get('item') == submenu.systemName)  %}
								$("#"+'{{submenu.systemName}}').parent().parent().attr('class', 'menu open');
							{% endif %}
							
						</script>
					{% endif %}				                								
                {% endfor %}
            	
            </ul>
        </li>    	    		
	
	{%else%}

	
	{% endif %}
{% endfor %}