{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
{{ parent() }}
<li> <a href="{{ path('solucel_admin_devicedefect_index') }}">Listado de Defectos</a> </li>
<li> <a href="{{ path('solucel_admin_devicedefect_edit', { 'id': entity.id }) }}">Editar Defectos</a> </li>
{% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('SolucelAdminBundle:DeviceDefect:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    
    

{% endblock %}