{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
{{ parent() }}
<li> <a href="{{ path('solucel_admin_repairstatus_index') }}">Listado de Estados</a> </li>
<li> <a href="{{ path('solucel_admin_repairstatus_edit', { 'id': entity.id }) }}">Editar Estado</a> </li>
{% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('SolucelAdminBundle:RepairStatus:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    
    

{% endblock %}