{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    
    <li> <a href="{{ path('solucel_admin_devicefixtypecode_index') }}">Listado de C贸digos de Tipos de Reparaci贸n</a> </li>
    <li> <a href="{{ path('solucel_admin_devicefixtypecode_new') }}">Nuevo C贸digo de Tipo de Reparaci贸n</a> </li>
    {% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('SolucelAdminBundle:DeviceFixTypeCode:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    


{% endblock %}