{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
{{ parent() }}
<li> <a href="{{ path('solucel_admin_operator_index') }}">Listado de Operadores</a> </li>
<li> <a href="{{ path('solucel_admin_operator_edit', { 'id': entity.id }) }}">Editar Operador</a> </li>
{% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('SolucelAdminBundle:Operator:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    
    

{% endblock %}