{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    
    {% endblock %}

{% block title %}
    Reporte Consolidado
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/pizotearkadmin/js/plugin/Buttons-1.2.2/css/buttons.dataTables.css') }}">
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/jquery.dataTables-cust.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/Buttons-1.2.2/js/dataTables.buttons.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/Buttons-1.2.2/js/buttons.print.js') }}"></script>
    
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/ColReorder.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/FixedColumns.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/ColVis.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/ZeroClipboard.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/media/js/TableTools.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/DT_bootstrap.js') }}"></script>

    
{% endblock %}


{% block body -%}
{{ parent() }}

<script>
	$('#pizote_spinner').show();
</script>

<style>
    .input-group {
        z-index: 0;
    }

</style>
<script>
	$('#pizote_spinner').show();
</script>
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">

    </div>

</div>

<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
    <header>
        <h2> Reporte Consolidado</h2>
    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
									
        </div>
        <!-- end widget edit box -->

        <!-- widget content -->
        <div class="widget-body no-padding">
            <div class="widget-body-toolbar">

            </div>
            <form id="filterForm" action="{{path('solucel_admin_repairorderreport_consolidated_report')}}" method="POST" name="solucel_admin_repairorderreport_consolidated_report">
            	<input type="hidden" name="filter" value="true" />
            	<input type="hidden" name="submit" value="true" />
	            <fieldset>

						<div class="col-md-12">
							<div class="col-md-2">
								<label for="select_operator">Operador:</label><br />
								<select id="select_operator" name="select_operator">

									{# evaluates to true if the foo variable is iterable #}
									{% if operators is iterable %}
										<option value="0">Todos</option>
										{% for operator in operators %}
											{% set selected = operator.id == select_operator ? ' selected="selected" ' : ''%}
											<option value="{{operator.id}}" {{selected}}>{{ operator.name }}</option>
										{% endfor %}
									{% else %}
										{# users is probably a single object #}
										<option value="{{operators.id}}">{{ operators.name }}</option>
									{% endif %}

								</select>
							</div>
							<div class="col-md-3">
								<label for="select_agency">Agencia:</label><br />
								<select id="select_agency" name="select_agency"  >
									<option value="0">Todos</option>
									{% for agency in agencies%}
										{% set selected = agency.id == select_agency ? ' selected="selected" ' : ''%}
										<option value="{{agency.id}}" {{selected}}>{{ agency.name }}</option>
									{% endfor %}
								</select>
							</div>
							<div class="col-md-3">
								<label for="select_service_center">Centro de Servicio:</label><br />
								<select id="select_service_center" name="select_service_center" >

									{# evaluates to true if the foo variable is iterable #}
									{% if service_centers is iterable %}
										<option value="0">Todos</option>
										{% for service_center in service_centers %}
											{% set selected = service_center.id == select_service_center ? ' selected="selected" ' : ''%}
											<option value="{{service_center.id}}" {{selected}}>{{ service_center.name }}</option>
										{% endfor %}
									{% else %}
										{# users is probably a single object #}
										<option value="{{service_centers.id}}">{{ service_centers.name }}</option>
									{% endif %}


								</select>
							</div>
							<div class="col-md-2">
								<label for="select_brand">Marca:</label><br />
								<select id="select_brand" name="select_brand" >

									{# evaluates to true if the foo variable is iterable #}
									{% if brands is iterable %}
										<option value="0">Todos</option>
										{% for brand in brands %}

											{#{% if brand.name  != "Motorola" %}#}
											{% set selected = brand.id == select_brand ? ' selected="selected" ' : ''%}
											<option value="{{brand.id}}" {{selected}}>{{ brand.name }}</option>

											{#{% endif %}#}
										{% endfor %}
									{% else %}
										{# brands is probably a single object #}
										<option value="{{brands.id}}">{{ brands.name }}</option>
									{% endif %}


								</select>
							</div>
							<div class="col-md-2">
								<label for="entry_type">Tipo de ingreso:</label><br />
								<select id="entry_type" name="entry_type" >

									{# evaluates to true if the foo variable is iterable #}
									{% if entry_types is iterable %}
										<option value="0">Todos</option>
										{% for entry in entry_types %}

											{#{% if brand.name  != "Motorola" %}#}
											{% set selected = entry.id == entry_type ? ' selected="selected" ' : ''%}
											<option value="{{entry.id}}" {{selected}}>{{ entry.name }}</option>

											{#{% endif %}#}
										{% endfor %}
									{% else %}
										{# brands is probably a single object #}

									{% endif %}
								</select>
							</div>

						</div>
						<div class="clearfix"></div>
						<div class="col-md-12">
							<div class="col-md-2">
								<label for="created_from">Ingresada del:</label><br />
								<input readonly="readonly" id="created_from" name="created_from" type="text" class="form-control" value="{{filter_created_from}}" />

							</div>
							<div class="col-md-3">
								<label for="created_to">Ingresada al:</label><br />
								<input readonly="readonly" id="created_to" name="created_to" type="text" class="form-control" value="{{filter_created_to}}" />

							</div>
							<div class="col-md-3">
								<label for="filter_dates">Aplicar Fechas:</label><br />
								<input id="filter_dates" name="filter_dates" type="checkbox" class="form-control" {{ filter_dates == 1 ? 'checked="checked"' : ''  }}  />

							</div>

						</div>

						<div class="clearfix"></div><br/>
						<div class="col-md-3">
							<button class="btn btn-primary" onclick="$('#pizote_spinner').show();">
								<i class="fa fa-search"></i>
								Filtrar
							</button>
						</div>



                </fieldset>
            </form>
            <br />
            <table id="dt_basic" class="table table-striped table-bordered table-hover" style="display: none">
                <thead>
                    <tr>
                    	<th>Fecha de ingreso</th>
                    	<th>Tipo ingreso</th>
                    	<th>Operador</th>
                    	<th>Centro de servicio</th>
                    	<th>No Boleta</th>
                    	<th>Marca</th>
                    	<th>Modelo</th>
                    	<th>Agencia</th>
                    	<th>Cliente</th>
                    	<th>Cliente DPI</th>
                    	<th>Cliente NIT</th>
						<th>Número Asociado</th>
                    	<th>Teléfono del Cliente</th>
                    	<th>Tel contacto del Cliente</th>
                    	<th>Email</th>
                    	<th>Fecha de compra Dispostivo</th>
                    
	                    	<th>Plan</th>
	                    	<th>Fecha estimada de salida</th>
	                    	<th>No factura</th>
	                    	<th>Humedad</th>
	                    	<th>Es de bodega</th>
	                    	<th>No requisicion</th>                    	
                    	
                    	<th>IMEI</th>
						<th>IMEI2</th>
						<th>IMEI OUT</th>
						<th>IMEI 2 OUT</th>
						<th>SERIAL NUMBER OUT</th>
                    	<th>MSN</th>
                    	<th>Codigo de fabricacion</th>
                    	<th>XCVR</th>

						<th>Tipo de defecto</th>
						<th>Falla 1</th>
						<th>Falla 2</th>
						<th>Falla 3</th>
						<th>PROBLEM FOUND CODE</th>
						<th>ACTION REASON CODE</th>
						<th>TRANSACTION CODE</th>
						<th>SOFTWARE OUT</th>
						<th>REPARACION</th>
						<th>NIVEL DE REPARACION</th>
						{% for i in 1..7 %}
							<th>REPUESTO {{ i }}</th>
							<th>CODIGO DE REPUESTO {{ i }}</th>
							<th>CANTIDAD DE REPUESTO {{ i }}</th>
						{% endfor %}





                    	<th>Falla General</th>
                    	<th>Observaciones del dispositivo</th>
                    	<th>Reparación General</th>
                    	<th>Nivel de Reparacion</th>
						<th>Codigo Tecnico</th>
						<th>Nombre Tecnico</th>
                    	<th>Garantia</th>
                    	<th>Comentario Garantía</th>
                    	<th>Costo</th>
                    	<th>Fecha Creado</th>
                    	<th>Creado Por</th>
                    	<th>Status</th>
                    	
                    	
                    	
                    	<th>Color</th>
                    	<th>Fecha de Reparacion</th>
                    	<th>Control de calidad</th>
                    	<th>Fecha de control de Calidad</th>
                    	<th>Creado por</th>
                    	<th>Finalizado por</th>
                    	<th>Fecha finalizado</th>
                    	<th>Entregado por</th>
                    	<th>Fecha de entregado</th>
                    	<th>Campos adicionales</th>
                    	<th>Guia de Entrada</th>
                    	<th>Guia de Salida</th>
                    	<th>Codigo de Falla</th>
                    	<th>Codigo de Reparacion</th>
                    	<th>Accesorios</th>
						<th>Historial</th>
  
                    </tr>
                </thead>
                <tbody>

               	
                {% for entity in entities %}
					
					
                    <tr>

						                  	
                    	<td>{{entity.entry_date}}</td>
                    	<td>{{entity.entryType}}</td>
                    	<td>{{entity.operator}}</td>
                    	<td>{{entity.service}}</td>
                    	<td>{{entity.ticketNumber}}</td>
                    	<td>{{entity.brand}}</td>
                    	<td>{{entity.model}}</td>
                    	<td>{{entity.agency}}</td>
                    	<td>{{entity.clientName}}</td>
                    	<td>{{entity.clientDpi}}</td>
                    	<td>{{entity.clientNit}}</td>
						<td>{{entity.phoneNumber}}</td>
                    	<td>{{entity.clientPhone}}</td>
                    	<td>{{entity.clientContactPhone}}</td>
                    	<td>{{entity.clientEmail}}</td>
                    	<td>{{entity.device_purchase_date}}</td>
							                   	
	                    	<td>{{entity.device_plan}}</td>
	                    	<td>{{entity.estimated_delivery_date}}</td>
	                    	<td>{{entity.invoice_number}}</td>
	                    	<td>{{entity.humidity}}</td>
	                    	<td>{{entity.requisition_number}}</td>
	                    	<td>{{entity.is_storehouse}}</td>

                    	<td>{{entity.device_imei}}</td>
						<td>{{entity.device_imei2}}</td>
						<td>{{entity.device_imei_out}}</td>
						<td>{{entity.device_imei2_out}}</td>
						<td>{{entity.serial_number_out}}</td>
                    	<td>{{entity.device_msn}}</td>
                    	<td>{{entity.device_code_fab}}</td>
                    	<td>{{entity.device_xcvr}}</td>

						<td>{{entity.defectType}}</td>

						{% for i in 0..2 %}
							{% if entity.arrDefects[i] is defined %}
								<td>{{ entity.arrDefects[0] }}</td>
							{% else %}
								<td>-</td>
							{% endif %}

						{% endfor %}


						<td>{{ entity.problem_found_code }}</td>
						<td>{{ entity.action_reason_code }}</td>
						<td>{{ entity.transaction_code }}</td>
						<td>{{ entity.software_out }}</td>
						<td>{{ entity.mainRepairment }}</td>
						<td>{{ entity.mainRepairmentLevel }}</td>

						{% for i in 0..6 %}
							{% if entity.replacements[i] is defined %}
								<td>{{ entity.replacements[i] }}</td>
								<td>{{ entity.replacementsCodes[i] }}</td>
								<td>{{ entity.replacementsQuantity[i] }}</td>
							{% else %}
								<td>-</td>
								<td>-</td>
								<td>-</td>
							{% endif %}
						{% endfor %}


                    	<td>{{entity.device_problem}}</td>
                    	<td>{{entity.device_observation}}</td>                    	
                    	<td>{{entity.fix_detail}}</td>
                    	<td>{{entity.fixLevelLog}}</td>
                    	<td>{{entity.techCode}}</td>
                    	<td>{{entity.techName}}</td>
                    	<td>{{entity.has_warranty ? "SI": "NO"}}</td>
                    	<td>{{entity.warranty_comment}}</td>
                    	<td>{{entity.fixing_price}}</td>
                    	<td>{{entity.created_at}}</td>
                    	<td>{{entity.created_by}}</td>
                    	
                    	<td>{{entity.rStatus}}</td>
                    	<td>{{entity.device_color}}</td>
                    	<th>{{entity.repaired_at}}</th>
                    	<th>{{entity.quality_by}}</th>
                    	<th>{{entity.quality_at}}</th>
                    	<th>{{entity.created_by}}</th>
                    	<th>{{entity.finished_by}}</th>
                    	<th>{{entity.finished_at}}</th>
                    	<th>{{entity.delivered_by}}</th>
                    	<th>{{entity.delivered_at}}</th>
                    	<td>{{entity.fields}}</td>
                    	<th>{{entity.guide_in}}</th>
                    	<th>{{entity.guide_out}}</th>
                    	<th>{{entity.defects}}</th>
                    	<th>{{entity.repairments}}</th>
                    	<th>{{entity.accesories}}</th>
						<td>{{entity.historyLog}}</td>
                    	

                    </tr>
                    
                {% endfor %}

                
                </tbody>
            </table>
        </div>
        <!-- end widget content -->


    </div>
    <!-- end widget div -->
</div>    


<script type="text/javascript" language="JavaScript">
	
	
	$( document ).ready(function() {
		
		agencyID = '{{select_agency}}';
		changeAgency();
		
		$( "#select_operator" ).change(function() {
		  changeAgency();
		});			
			
		$('#pizote_spinner').hide();	
	});	
		
		
	function changeAgency(){
		$('#pizote_spinner').show();
		
		if($("#select_operator").val() != 0){
			$.ajax({
				type:"POST",
				dataType:"json",
				async: false,
				url:"{{ path('solucel_admin_repairorder_agency') }}",
				data:"operator_id="+$( "#select_operator" ).val(),
				success:function(data){
					
					
					if (!isEmpty(data)){
						
						var items = [];
							items.push( "<option value='0'>Todos</option>" );
						  $.each( data, function( key, val ) {
						  	selected = key == agencyID ? 'selected="selected"' : '';
						    items.push( "<option "+selected+" value='" + key + "'>" + val + "</option>" );
						  });
											
						$("#select_agency").html(items);	
						
					}
					else{
						$("#select_agency").html("<option value='0'>Todos</option>");
					}
					
					
					
				}
			});	 
			
		}
		else{
			$("#select_agency").html("<option value='0'>Todos</option>");
		}		
		
		$('#pizote_spinner').hide();
  		
	}	
	
	
	function isEmpty(obj) {
	    return Object.keys(obj).length === 0;
	}

	
</script>

{% endblock %}


{% block extrascripts %}

	$( document ).ready(function() {
	  $("#pizote_spinner").hide();
	});	

    $("#created_from").datepicker();
    $("#created_to").datepicker();

    $('#dt_basic').DataTable({
        dom: 'Bfrtip',
        buttons: [
            {extend: 'excel', text: 'Exportar Excel',message: ''}
            
        ],
	    "sPaginationType" : "bootstrap_full",
	    "aaSorting": [[ 3, "asc" ]],
	    "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100,"Todos"] ],
	    "iDisplayLength": -1,
        "language": {
            "url": "{{ asset('bundles/pizotearkadmin/js/plugin/datatables/dataTables.spanish.lang') }}"
        },
        	    
    });

{% endblock %}