{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    
    {% endblock %}

{% block title %}
    Consolidado por Operaciones por Año
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
<script>
	$('#pizote_spinner').show();
</script>    
    
<style>
	.tdClass {
		style:"text-align: right";		
	}
</style>    
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/pizotearkadmin/js/plugin/Buttons-1.2.2/css/buttons.dataTables.css') }}">
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/jquery.dataTables-cust.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/Buttons-1.2.2/js/dataTables.buttons.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/Buttons-1.2.2/js/buttons.print.js') }}"></script>
    
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/ColReorder.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/FixedColumns.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/ColVis.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/ZeroClipboard.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/media/js/TableTools.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/DT_bootstrap.js') }}"></script>
    
{% endblock %}


{% block body -%}
{{ parent() }}

<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">

    </div>

</div>

<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
    <header>
        <h2> Consolidado por Operaciones por Año</h2>
    </header>

    <!-- widget div-->
    <div>



        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->
            
            
									
        </div>
        <!-- end widget edit box -->

        <!-- widget content -->
        <div class="widget-body no-padding">
            <div class="widget-body-toolbar">

            </div>
            <form id="filterForm" action="{{path('solucel_admin_repairorderreport_ebyo')}}" method="POST" name="solucel_admin_repairorderreport_ebyo">
            	<input type="hidden" name="filter" value="true" />
	            <fieldset>
                        <table width="90%">
                                <tbody>
                                        <tr>
                                                <td>
                                                        <label for="select_operator">Operador:</label><br />
                                                        <select id="select_operator" name="select_operator">

                                                                {# evaluates to true if the foo variable is iterable #}
                                                                {% if operators is iterable %}
                                                                        <option value="0">Todos</option>
                                                                        {% for operator in operators %}
                                                                                {% set selected = operator.id == select_operator ? ' selected="selected" ' : ''%}
                                                                                <option value="{{operator.id}}" {{selected}}>{{ operator.name }}</option>
                                                                        {% endfor %}										
                                                                {% else %}
                                                                    {# users is probably a single object #}
                                                                    <option value="{{operators.id}}">{{ operators.name }}</option>
                                                                {% endif %}										

                                                        </select>

                                                </td>
                                                <td>
                                                        <label for="select_agency">Agencia:</label><br />
                                                        <select id="select_agency" name="select_agency"  >
                                                                <option value="0">Todos</option>
                                                           {% for agency in agencies%}
                                                                        {% set selected = agency.id == select_agency ? ' selected="selected" ' : ''%}	
                                                                <option value="{{agency.id}}" {{selected}}>{{ agency.name }}</option>
                                                            {% endfor %}										
                                                        </select>

                                                </td>								
                                                <td>
                                                        <label for="select_service_center">Centro de Servicio:</label><br />
                                                        <select id="select_service_center" name="select_service_center" >

                                                                {# evaluates to true if the foo variable is iterable #}
                                                                {% if service_centers is iterable %}
                                                                        <option value="0">Todos</option>
                                                                        {% for service_center in service_centers %}
                                                                                {% set selected = service_center.id == select_service_center ? ' selected="selected" ' : ''%}
                                                                                <option value="{{service_center.id}}" {{selected}}>{{ service_center.name }}</option>
                                                                        {% endfor %}										
                                                                {% else %}
                                                                    {# users is probably a single object #}
                                                                    <option value="{{service_centers.id}}">{{ service_centers.name }}</option>
                                                                {% endif %}										


                                                        </select>

                                                </td>

                                                <td>
                                                        <label for="select_brand">Marca:</label><br />
                                                        <select id="select_brand" name="select_brand" >

                                                                {# evaluates to true if the foo variable is iterable #}
                                                                {% if brands is iterable %}
                                                                        <option value="0">Todos</option>
                                                                        {% for brand in brands %}
                                                                                {% set selected = brand.id == select_brand ? ' selected="selected" ' : ''%}
                                                                                <option value="{{brand.id}}" {{selected}}>{{ brand.name }}</option>
                                                                        {% endfor %}										
                                                                {% else %}
                                                                    {# brands is probably a single object #}
                                                                    <option value="{{brands.id}}">{{ brands.name }}</option>
                                                                {% endif %}										


                                                        </select>

                                                </td>

                                        </tr>
                                        <tr>
																					
                                            <td>
                                                <label for="">Año:</label><br />
                                                <select id="select_year" name="select_year">
                                                        <option value="{{ "now"|date("Y") }}">{{ "now"|date("Y") }}</option>
                                                        {% set minimumYear = date('-4years')|date('Y') %}
                                                        {% set currentYear = "now"|date("Y") %}   
                                                        {% for year in (currentYear-1)..minimumYear %}
                                                                {% set selected = (year == select_year) ? ' selected="selected" ' : ''%}
                                                           <option {{selected}} value="{{ year }}">{{ year }}</option>
                                                        {% endfor %}
                                                </select>
                                            </td>	
									
                                        </tr>
                                        <tr>
                                            <td colspan="4" align="left">
                                                    <button class="btn btn-primary">
                                                    <i class="fa fa-search"></i>
                                                    Filtrar
                                                    </button>									
                                            </td>
                                        </tr>

                                </tbody>
                        </table>

                </fieldset>
            </form>
            <br />
            <table id="dt_basic" class="table table-striped table-bordered table-hover">                        
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th class='no-sort'>Mes</th>
                        <th class='no-sort'>Año {{ select_year }}</th>
                        <th class='no-sort'>Año {{ year_one_before }}</th>
                        <th class='no-sort'>Año {{ year_two_before }}</th>
						{#<th>Año {{ lastyear }}</th>#}
                    </tr>
                </thead>
                <tbody>
                {#      total_sy = variable para el total del año seleccionado              #}
                {% set total_sy = 0 %}
                {#      total_sy = variable para el total del año menos              #}
                {% set total_yob = 0 %}
                {#      total_sy = variable para el total de 2 años menos#}
                {% set total_ytb = 0 %}
                {% for i in 1..12 %}
                    {% set zero = 0 %} {% set zero_ob = 0 %} {% set zero_tb = 0 %}
                    
                    {% if (i == 1) %}
                        {% set mes = 'Enero' %}
                    {% endif %}
                    {% if (i == 2) %}
                        {% set mes = 'Febrero' %}
                    {% endif %}
                    {% if (i == 3) %}
                        {% set mes = 'Marzo' %}
                    {% endif %}
                    {% if (i == 4) %}
                        {% set mes = 'Abril' %}
                    {% endif %}
                    {% if (i == 5) %}
                        {% set mes = 'Mayo' %}
                    {% endif %}
                    {% if (i == 6) %}
                        {% set mes = 'Junio' %}
                    {% endif %}
                    {% if (i == 7) %}
                        {% set mes = 'Julio' %}
                    {% endif %}
                    {% if (i == 8) %}
                        {% set mes = 'Agosto' %}
                    {% endif %}
                    {% if (i == 9) %}
                        {% set mes = 'Septiembre' %}
                    {% endif %}
                    {% if (i == 10) %}
                        {% set mes = 'Octubre' %}
                    {% endif %}
                    {% if (i == 11) %}
                        {% set mes = 'Noviembre' %}
                    {% endif %}
                    {% if (i == 12) %}
                        {% set mes = 'Diciembre' %}
                    {% endif %}
                    <tr>
                        <td class="tdClass">{{ i }}</td>
                        <td class="tdClass">{{ mes }}</td>
                       
                            {% for entity in entities %}
                                {% if ((i == entity.monthname) and (select_year == entity.yearname)) %}
                                    {% set zero = entity.quantity %}
                                    {% set total_sy = total_sy + entity.quantity %}
                                {% elseif ((i == entity.monthname) and (year_one_before == entity.yearname)) %}
                                    {% set zero_ob = entity.quantity %}
                                    {% set total_yob = total_yob + entity.quantity %}
                                 {% elseif ((i == entity.monthname) and (year_two_before == entity.yearname)) %}
                                    {% set zero_tb = entity.quantity %}
                                    {% set total_ytb = total_ytb + entity.quantity %}
                                {% endif %}          
                            {% endfor %}
                            <td class="tdClass">{{ zero }}</td>
                            <td class="tdClass">{{ zero_ob }}</td>
                            <td class="tdClass">{{ zero_tb }}</td>                           
                </tr>
                {% endfor %}
                <tr>
                    <td class="tdClass">13</td>
                    <td style="font-weight: bold;" class="tdClass">Total</td>
                    <td style="font-weight: bold;" class="tdClass"> {{ total_sy }}</td>
                    <td style="font-weight: bold;" class="tdClass"> {{ total_yob }}</td>
                    <td style="font-weight: bold;" class="tdClass"> {{ total_ytb }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- end widget content -->

        

    </div>
    <!-- end widget div -->
</div>    


<script type="text/javascript" language="JavaScript">
	
	
	$( document ).ready(function() {
		
		agencyID = '{{select_agency}}';
		changeAgency();
		
		$( "#select_operator" ).change(function() {
		  changeAgency();
		});			
		
		$('#pizote_spinner').hide();
			
	});	
		
		
	function changeAgency(){
		
		$('#pizote_spinner').show();
		
		if($("#select_operator").val() != 0){
			$.ajax({
				type:"POST",
				dataType:"json",
				async: false,
				url:"{{ path('solucel_admin_repairorder_agency') }}",
				data:"operator_id="+$( "#select_operator" ).val(),
				success:function(data){
					
					
					if (!isEmpty(data)){
						
						var items = [];
							items.push( "<option value='0'>Todos</option>" );
						  $.each( data, function( key, val ) {
						  	selected = key == agencyID ? 'selected="selected"' : '';
						    items.push( "<option "+selected+" value='" + key + "'>" + val + "</option>" );
						  });
											
						$("#select_agency").html(items);	
						
					}
					else{
						$("#select_agency").html("<option value='0'>Todos</option>");
					}
					
					
					
				}
			});	 
			
		}else{
                    $("#select_agency").html("<option value='0'>Todos</option>");
                }
                
		$('#pizote_spinner').hide();                
	}	
	
	
	function isEmpty(obj) {
	    return Object.keys(obj).length === 0;
	}

	
</script>

{% endblock %}


{% block extrascripts %}



    $('#dt_basic').DataTable({
        dom: 'Bfrtip',
        buttons: [
            {extend: 'print', text: 'Imprimir', message: ''},
            {extend: 'excel', text: 'Exportar Excel',message: ''}
            
        ],
	    "sPaginationType" : "bootstrap_full",	    
	    "lengthMenu": [ [10, 25, 50, 100, -1], [10, 25, 50, 100,"Todos"] ],
	    "iDisplayLength": -1,
        "language": {
            "url": "{{ asset('bundles/pizotearkadmin/js/plugin/datatables/dataTables.spanish.lang') }}"
        },
        "columnDefs": [
            { "targets": 'no-sort', "orderable":false }
        ],
    });

{% endblock %}