{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
{{ parent() }}
<li> <a href="{{ path('solucel_admin_storehouse_index') }}">Listado de Bodegas</a> </li>
<li> <a href="{{ path('solucel_admin_storehouse_edit', { 'id': entity.id }) }}">Editar Bodega</a> </li>
{% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('SolucelAdminBundle:Storehouse:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    
    

{% endblock %}