{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    
    <li> <a href="{{ path('solucel_admin_devicedefectcode_index') }}">Listado de Defectos</a> </li>
    <li> <a href="{{ path('solucel_admin_devicedefectcode_new') }}">Nuevo Defecto</a> </li>
    {% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('SolucelAdminBundle:DeviceDefectCode:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    


{% endblock %}