{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    
    <li> <a href="{{ path('solucel_admin_agency_index') }}">Listado de Agencias</a> </li>
    <li> <a href="{{ path('solucel_admin_agency_new') }}">Nueva Agencia</a> </li>
    {% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('SolucelAdminBundle:Agency:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    


{% endblock %}