{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
{{ parent() }}
<li> <a href="{{ path('solucel_admin_state_index') }}">Municipio</a> </li>
<li> <a href="{{ path('solucel_admin_state_edit', { 'id': entity.id }) }}">Editar Municipio</a> </li>
{% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('SolucelAdminBundle:State:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    
    

{% endblock %}