{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    
    <li> <a href="{{ path('solucel_admin_devicelocation_index') }}">Listado de Ubacaciones</a> </li>
    <li> <a href="{{ path('solucel_admin_devicelocation_new') }}">Nueva Ubicación</a> </li>
    {% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('SolucelAdminBundle:DeviceLocation:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    


{% endblock %}