<style media="all" rel="stylesheet">



.tableTitle{

background-color: #000000; 

color: #FFFFFF; 

font-size: 14pt;

}



.tableInput{

border: 1px solid black;


}



th, td {

    padding: 1px;

    text-align: left;

}



table {

    border-collapse: separate;

    border-spacing: 3px 3px;

    font-family: 'Open Sans', Arial, sans-serif;

    font-size: 9pt;

}





.tab { display:inline-block; 

       margin-left: 40px; }

</style>





<table width="100%">

<tbody>

<tr>

<td width="20%">

<img style="width:200px;" src="http://solucel.pizotesoftdev.com/bundles/pizotearkadmin/img/logo/logoPrint.png" alt="Solucel">

</td>

<td colspan="6">

<h1>Boleta de recepción de Equipos</h1>

</td>

</tr>


<!--TABLE TITLE -->

<tr class="tableTitle">

<td colspan="7">Información de Boleta</td>

</tr>

<tr>

<td width="10%">

<label>Boleta:</label>

</td>

<td width="0%"></td>

<td width="35%" class="tableInput">{{entity.id}}</td>

<td width="5%"></td>

<td width="20%">

<label>Status:</label>

</td>

<td width="5%"></td>

<td width="25%" class="tableInput">{{entity.repairStatus.name}}</td>


</tr>

<tr>

<td>

<label>Fecha:</label>

</td>

<td></td>

<td  class="tableInput">{{ 'now'|date('d - m -Y') }}</td>

<td ></td>

<td  style="font-size: 16pt">

<label>Original:</label>

</td>

<td ></td>

<td  class="tableInput"></td>


</tr>

<tr>

<td >

<label>Operador:</label>

</td>

<td ></td>

<td  class="tableInput">{{entity.operator.name}}</td>

<td colspan="4"></td>

</tr>

<tr>

<td >

<label>Cliente:</label>

</td>

<td ></td>

<td class="tableInput">{{entity.client}}</td>

<td colspan="4"></td>

</tr>

<tr>

<td >

<label>Teléfono:</label>

</td>

<td ></td>

<td  class="tableInput">{{entity.client.phone}} / {{entity.client.contactPhone}}</td>

<td ></td>

<td >

<label>IMEI:</label>

</td>

<td ></td>

<td  class="tableInput">{{entity.deviceImei}}</td>


</tr>

<tr>

<td >

<label>Marca:</label>

</td>

<td ></td>

<td  class="tableInput">{{entity.deviceBrand}}</td>

<td ></td>

<td >

<label>Garantía:</label>

</td>

<td ></td>

<td  class="tableInput">

{% if fix  %}

{{fix.hasWarranty ? "Si" : "No"}}

{% endif %}

</td>


</tr>

<tr>

<td >

<label>Modelo:</label>

</td>

<td ></td>

<td  class="tableInput">{{entity.deviceModel}}</td>

<td ></td>

<td >

<label>Fecha de Compra:</label>

</td>

<td ></td>

<td  class="tableInput">{{entity.devicePurchaseDate|date("d-m-Y")}}</td>


</tr>

<tr>

<td >

<label>Problema:</label>

</td>

<td ></td>

<td  class="tableInput">{{entity.deviceProblem}}</td>

<td ></td>

<td >

<label>Casos:</label>

</td>

<td ></td>

<td  class="tableInput"></td>


</tr>


<tr>

<td >

<label>Agencia:</label>

</td>

<td ></td>

<td  class="tableInput">{{entity.agency}}</td>

<td ></td>

</tr>


<!--TABLE TITLE -->

<tr class="tableTitle">

<td colspan="7">Estado de la Reparación</td>

</tr>



<tr>

<td >

<label>Fecha de Ingreso:</label>

</td>

<td ></td>

<td  class="tableInput">{{entity.entryDate|date("d-m-Y")}}</td>

<td ></td>

<td >

<label>Estado:</label>

</td>

<td ></td>

<td  class="tableInput">{{entity.repairStatus.name}}</td>


</tr>


<tr>

<td width="20%">

<label>Reparación:</label>

</td>

<td width="5%"></td>

<td width="20%" class="tableInput">

{% if fix %}

{{fix.fixDetail}}

{% endif %}

</td>

<td colspan="4"></td>

</tr>

<tr>

<td >

<label>Hora de Entrega:</label>

</td>

<td ></td>

<td  class="tableInput">

{%if arrStatus[11] is defined%}

{{arrStatus[11]}}

{%endif%}

</td>

<td colspan="4"></td>

</tr>


<tr>

<td >

<label>Fecha de Reparación:</label>

</td>

<td ></td>

<td  class="tableInput">

{%if arrStatus[3] is defined%}

{{arrStatus[3]}}

{%endif%}

</td>

<td ></td>

<td >

<label>Accesorios:</label>

</td>

<td ></td>

<td  class="tableInput">

{% for acce in accessories %}

{{acce.deviceAccessory.name}},

{% endfor %}

</td>


</tr>


<!--TABLE TITLE -->

<tr class="tableTitle">

<td colspan="7">Estado de la Reparación</td>

</tr>


<tr>

<td >

<label>Costo:</label>

</td>

<td ></td>

<td  class="tableInput">

{% if fix %}

{{fix.fixingPrice}}

{% endif %}

</td>

<td colspan="4"></td>

</tr>


<tr>

<td >

<label>Observaciones:</label>

</td>

<td colspan="6"></td>

</tr>

<tr>

<td></td>

</tr>

<tr>

<td colspan="7" style="font-size: 8pt">

<p>

a.	Términos y condiciones<br>

b. La garantía de fábrica se pierde automáticamente cuando los equipos presentan lo siguiente:<br>

<p>

      <span class="tab">i. Golpes evidentes<br> 

      ii. Indicios de Humedad o daños causados por contacto con líquidos<br>

    iii. Se encuentren insectos o restos de ellos dentro de las terminales<br>

    iv. Intento de reparación por terceros y/o uso de accesorios genéricos<br>

    v. Fecha de compra expiró<br>


</p>

c. Todas las reparaciones  tienen una garantía de 90 días sobre la reparación efectuada. <br>

d. Los teléfonos en préstamo son responsabilidad del cliente, si estos son dañados, el cliente se hace responsable por pagar la reparación del mismo y si se pierde o es robado, el cliente tiene que pagar un 75% del precio vigente del modelo.<br> 

e. Tenga en cuenta que algunos de sus ajustes personales, descargas u otra información se puede perder cuando su producto sea reparado. Telefónica no asume ninguna responsabilidad por cualquier pérdida información de ningún tipo y no realizará reembolso alguno por dicha pérdida.<br> 

f. El cliente debe realizar copias de seguridad de toda la información almacenada en su producto. como descargas, calendario y contactos, antes de entregar su producto para su reparación o reemplazo. EL TALLER NO SE HACE RESPONSABLE DE LA INFORMACION.<br>

g. SOLUCIONES CELULARES, S.A. no se hace responsable por teléfono que no sea recogidos por el cliente después de 30 días. Si este no se recoge en el tiempo establecido, será utilizado por Telefónica para darla como préstamo a otros clientes y se le cobrará la reparación de la misma en la próxima factura.<br> 

h. El cliente se hace responsable de pagar los daños o perdidas realizados al teléfono entregado en préstamo.


</p>

</td>

</tr>

<tr>

<td></td>

</tr>

<tr>

<td colspan="6"></td>

<td >______________________________________</td>

</tr>

<tr>

<td colspan="6"></td>

<td >Firma Cliente</td>

</tr>

</tbody>



</table>

