<!-- SIDEBAR -->
<aside class="sidebar">
    <ul class="nav nav-stacked">
    	{#
	        {% for module in entitiesModule %}
	        	
	        	{% if(module.menuType == 'menu') %}
	                <tr>
	                	<td><b>{{ module.name }}</b></td>
		                <td colspan="{{entitiesRole|length}}">&nbsp;</td>
		                {% for role in entitiesRole %}
							<input style="display: none" name="{{role.id}}_{{module.id}}" type="checkbox" checked="checked"/>				                								
		                {% endfor %}
		                
	                </tr>
	        	
	        	{%else%}
	                <tr>
	                	{% if(module.parentModule == null and (module.menuType == 'menu' or module.menuType == 'link') ) %}
	                		<td><b>{{ module.name }}</b></td>
	                		
	                	{% else %}
	                		<td><b style="margin-left:3em" >{{ module.name }}</b></td>
	                	{% endif %}
	                	
		                {% for role in entitiesRole %}
		                	{% set checked = false %}
		                	{% for access in entitiesAccess %}
				                {% if access.role.id == role.id and access.module.id == module.id%}
									{% set checked = true %}									
				                {% endif %}
							{% endfor %}
							<td><input name="{{role.id}}_{{module.id}}" type="checkbox" {% if checked %}{{ 'checked="checked"' }}{% endif %} /> </td>				                								
		                {% endfor %}
	                </tr>
	        	
	        	{% endif %}
	        {% endfor %}       		
    	#}
    	
 	
    	
    	<!-- MENU START -->
    	{#
        <li class="active" ><a href="index.html"><i class="fa fa-dashboard fa-fw"></i><span class="item-label">Dashboard</span></a></li>
        <li class="menu ">
            <a href="#" class="menu-toggle"><i class="fa fa-cogs fa-fw"></i><span class="item-label">Ordenes de Reparaci&oacute;n</span><i class="caret"></i></a>
            <ul class="submenu">
                <li  ><a href="typography.html"><i class="fa fa-edit fa-fw"></i><span>Nueva</span></a></li>
                <li  ><a href="grid.html"><i class="fa fa-search fa-fw"></i><span>Buscar</span></a></li>
            </ul>
        </li>
        <li class="menu ">
            <a href="#" class="menu-toggle"><i class="fa fa-cogs fa-fw"></i><span class="item-label">Admin General</span><i class="caret"></i></a>
            <ul class="submenu">
                <li  ><a href="{{ path('solucel_admin_operator_index')}}"><i class="fa fa-wrench fa-fw"></i><span>Operadores</span></a></li>
                <li  ><a href="{{ path('solucel_admin_agency_index')}}"><i class="fa fa-hand-o-up fa-fw"></i><span>Agencias</span></a></li>
                <li  ><a href="ui_nested_lists.html"><i class="fa fa-list-ul fa-fw"></i><span>Centros de Servicio</span></a></li>
                <li  ><a href="ui_components.html"><i class="fa fa-wrench fa-fw"></i><span>Usuarios</span></a></li>
                <li  ><a href="{{ path('solucel_admin_role_index')}}"><i class="fa fa-hand-o-up fa-fw"></i><span>Roles</span></a></li>
                <li  ><a href="{{ path('solucel_admin_moduleaccess')}}"><i class="fa fa-list-ul fa-fw"></i><span>Roles y Permisos</span></a></li>
                <li  ><a href="ui_nested_lists.html"><i class="fa fa-list-ul fa-fw"></i><span>Paises</span></a></li>
                <li  ><a href="ui_nested_lists.html"><i class="fa fa-list-ul fa-fw"></i><span>Departamentos</span></a></li>                
                
            </ul>
        </li>
        <li class="menu ">
            <a href="#" class="menu-toggle"><i class="fa fa-table fa-fw"></i><span><span class="item-label">Admin Dispositivos</span> <i class="caret"></i></span></a>
            <ul class="submenu">
                <li  ><a href="tables.html"><i class="fa fa-table fa-fw"></i>Tipos</a></li>
                <li  ><a href="datatables.html"><i class="fa fa-table fa-fw"></i>Marcas</a></li>
                <li  ><a href="datatables.html"><i class="fa fa-table fa-fw"></i>Modelos</a></li>
                <li  ><a href="datatables.html"><i class="fa fa-table fa-fw"></i>Colores</a></li>
                <li  ><a href="datatables.html"><i class="fa fa-table fa-fw"></i>Accesorios</a></li><br />
                
            </ul>
        </li>
        <li class="menu ">
            <a href="#" class="menu-toggle"><i class="fa fa-table fa-fw"></i><span><span class="item-label">Admin Reparaciones</span> <i class="caret"></i></span></a>
            <ul class="submenu">
                <li  ><a href="tables.html"><i class="fa fa-table fa-fw"></i>Tipo de Ingreso</a></li>
                <li  ><a href="datatables.html"><i class="fa fa-table fa-fw"></i>Tipo de Falla</a></li>
                <li  ><a href="datatables.html"><i class="fa fa-table fa-fw"></i>Tipo de Reparaci&oacute;n</a></li>
                <li  ><a href="datatables.html"><i class="fa fa-table fa-fw"></i>Tipo de Reclamo</a></li>
                <li  ><a href="datatables.html"><i class="fa fa-table fa-fw"></i>Tipo de Garant&oacute;a</a></li><br />
                <li  ><a href="datatables.html"><i class="fa fa-table fa-fw"></i>Estado del Equipo</a></li><br />
                <li  ><a href="datatables.html"><i class="fa fa-table fa-fw"></i>Estado de la Orden</a></li><br />
                <li  ><a href="datatables.html"><i class="fa fa-table fa-fw"></i>Ubicaci&oacute;n</a></li><br />
                <li  ><a href="datatables.html"><i class="fa fa-table fa-fw"></i>Nivel de Reparaci&oacute;n</a></li><br />
                <li  ><a href="datatables.html"><i class="fa fa-table fa-fw"></i>Tipo de Repuestos</a></li><br />
                <li  ><a href="datatables.html"><i class="fa fa-table fa-fw"></i>Repuesto</a></li><br />
                
            </ul>
        </li>
        
        
        <li class="menu ">
            <a href="#" class="menu-toggle"><i class="fa fa-cogs fa-fw"></i><span class="item-label">Control de Calidad</span><i class="caret"></i></a>
            <ul class="submenu">
                <li  ><a href="ui_components.html"><i class="fa fa-wrench fa-fw"></i><span>Grupos</span></a></li>
                <li  ><a href="ui_buttons.html"><i class="fa fa-hand-o-up fa-fw"></i><span>Sub-Grupos</span></a></li>
            </ul>
        </li>         
        
        <li  ><a href="calendar.html"><i class="fa fa-calendar fa-fw"></i><span class="item-label">Calendar</span> <span class="badge badge-danger">4</span></a></li>
        <li  ><a href="charts.html"><i class="fa fa-bar-chart-o fa-fw"></i><span class="item-label">Charts</span></a></li>
        <li  ><a href="gallery.html"><i class="fa fa-picture-o fa-fw"></i><span class="item-label">Gallery</span></a></li>
        <li class="menu ">
            <a href="#" class="menu-toggle"><i class="fa fa-bell fa-fw"></i><span><span class="item-label">Error Pages</span> <i class="caret"></i></span></a>
            <ul class="submenu">
                <li  ><a href="error_404.html"><i class="fa fa-laptop fa-fw"></i><span>Error 404</span></a></li>
                <li  ><a href="error_500.html"><i class="fa fa-laptop fa-fw"></i><span>Error 500</span></a></li>
            </ul>
        </li>
        <li class="menu ">
            <a href="#" class="menu-toggle"><i class="fa fa-sitemap fa-fw"></i><span><span class="item-label">Other</span> <i class="caret"></i></span></a>
            <ul class="submenu">
                <li  ><a href="profile.html"><i class="fa fa-user fa-fw"></i><span>User Profile</span></a></li>
                <li  ><a href="login.html"><i class="fa fa-sign-in fa-fw"></i><span>Login</span></a></li>
                <li  ><a href="register.html"><i class="fa fa-check-square-o fa-fw"></i><span>Register</span></a></li>
            </ul>
        </li>
        
        #}
        
        <!-- MENU END -->
    </ul>
</aside>
<!-- END: SIDEBAR -->