{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    
    <li> <a href="{{ path('solucel_admin_problemfoundcode_index') }}">Problem Found Code</a> </li>
    <li> <a href="{{ path('solucel_admin_problemfoundcode_new') }}">New Problem Found Code</a> </li>
    {% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('SolucelAdminBundle:ProblemFoundCode:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    


{% endblock %}