{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li> <a href="{{ path('solucel_admin_moduleaccess') }}">Admin de Permisos</a> </li>
    {% endblock %}

{% block title %}
    Admin de Permisos
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/jquery.dataTables-cust.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/ColReorder.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/FixedColumns.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/ColVis.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/ZeroClipboard.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/media/js/TableTools.min.js') }}"></script>
    <script src="{{ asset('bundles/pizotearkadmin/js/plugin/datatables/DT_bootstrap.js') }}"></script>
{% endblock %}


{% block body -%}
{{ parent() }}

<div id="spinner" class="spinner" style="display:none;"></div>


<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
    <header>
        <h2> Admin de Permisos </h2>
    </header>

    <!-- widget div-->
    <div>

        <!-- widget edit box -->
        <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

        </div>
        <!-- end widget edit box -->

        <!-- widget content -->
		<form id="accessForm" action="{{ path('solucel_admin_moduleaccess_create') }}" method="post">
					
        
	        <div class="widget-body no-padding">
	            <div class="widget-body-toolbar">
	            </div>
	
	            <table id="dt_basic" class="table table-striped table-bordered table-hover">
	                <thead>
	                    <tr>
	                    	<th>&nbsp;</th>
			                {% for entity in entitiesRole %}
								<th>{{ entity.name }}</th>
			                {% endfor %}
	                    </tr>
	                </thead>
	                <tbody>
	                {#
	                {% for module in entitiesModule %}
	                	
	                	{% if(module.moduleType == 'menu') %}
		                    <tr>
		                    	<td><b>{{ module.moduleName }}</b></td>
				                <td colspan="{{entitiesRole|length}}">&nbsp;</td>
				                {% for role in entitiesRole %}
									<input style="display: none" name="{{role.id}}_{{module.moduleID}}" type="checkbox" checked="checked"/>				                								
				                {% endfor %}
				                
		                    </tr>
	                	
	                	{%else%}
		                    <tr>
		                    	{% if(module.parent == null and (module.moduleType == 'menu' or module.moduleType == 'link') ) %}
		                    		<td><b>{{ module.moduleName }}</b></td>
		                    		
		                    	{% else %}
		                    		<td><b style="margin-left:3em" >{{ module.moduleName }}</b></td>
		                    	{% endif %}
		                    	
				                {% for role in entitiesRole %}
				                	{% set checked = false %}
				                	{% for access in entitiesAccess %}
						                {% if access.role.id == role.id and access.module.id == module.moduleID %}
											{% set checked = true %}									
						                {% endif %}
									{% endfor %}
									<td><input name="{{role.id}}_{{module.moduleID}}" type="checkbox" {% if checked %}{{ 'checked="checked"' }}{% endif %} /> </td>				                								
				                {% endfor %}
		                    </tr>
	                	
	                	{% endif %}
	                {% endfor %}
	                #}
	                
				    {% for module in entitiesModule %}
						
					    	{% if(module.moduleType == 'link') %}
					    		<tr>
					    			<td><b>{{ module.moduleName }}</b></td>	
					    			
					                {% for role in entitiesRole %}
					                	{% set checked = false %}
					                	{% for access in entitiesAccess %}
							                {% if access.role.id == role.id and access.module.id == module.moduleID %}
												{% set checked = true %}									
							                {% endif %}
										{% endfor %}
										<td><input name="{{role.id}}_{{module.moduleID}}" type="checkbox" {% if checked %}{{ 'checked="checked"' }}{% endif %} /> </td>				                								
					                {% endfor %}					    			
					    		</tr>
					    		
					    		
					    	{% elseif(module.moduleType == 'menu') %}
					    	
					    		<tr>
			                    
			                    	<td><b>{{ module.moduleName }}</b></td>
					                <td colspan="{{entitiesRole|length}}">&nbsp;</td>
					                {% for role in entitiesRole %}
										<input style="display: none" name="{{role.id}}_{{module.moduleID}}" type="checkbox" checked="checked"/>				                								
					                {% endfor %}
					                
			                    </tr>
	
				                {% for submenu in module %}
				                	{% if submenu is iterable %}
				                		<tr>
					                		<td><b style="margin-left:3em" >{{ submenu.moduleName }}</b></td>
											
							                {% for role in entitiesRole %}
							                	{% set checked = false %}
							                	{% for access in entitiesAccess %}
									                {% if access.role.id == role.id and access.module.id == submenu.moduleID %}
														{% set checked = true %}									
									                {% endif %}
												{% endfor %}
												<td><input name="{{role.id}}_{{submenu.moduleID}}" type="checkbox" {% if checked %}{{ 'checked="checked"' }}{% endif %} /> </td>				                								
							                {% endfor %}												
										</tr>												
									{% endif %}				                								
				                {% endfor %}
								
					    	{%else%}
					
					    	
					    	{% endif %}
				    	
				    {% endfor %}	                
	                
	                
	                </tbody>
	            </table>
	
	        </div>
			<div class="form-actions">
				<button class="btn btn-primary" onclick="$('#spinner').show();">
					<i class="fa fa-save"></i>
					Guardar
				</button>
				
			</div>            
		</form>
        
        <!-- end widget content -->

    </div>
    <!-- end widget div -->
    
</div>    

{% endblock %}


{% block extrascripts %}


{% endblock %}