{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    
    <li> <a href="{{ path('solucel_admin_repairorderdelivery_index') }}">Listado de Notas de Envío</a> </li>
    <li> <a href="{{ path('solucel_admin_repairorderdelivery_new') }}">Nueva Nota de Envío</a> </li>
    {% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('SolucelAdminBundle:RepairOrderDelivery:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    


{% endblock %}