{% extends 'SolucelAdminBundle::layout.html.twig' %}

{% block breadcrumb %}
{{ parent() }}
<li> <a href="{{ path('solucel_admin_devicecondition_index') }}">Listado de Condiciones</a> </li>
<li> <a href="{{ path('solucel_admin_devicecondition_edit', { 'id': entity.id }) }}">Editar Condicion</a> </li>
{% endblock %}

{% block body -%}
    {{ parent() }}
    {{ include('SolucelAdminBundle:DeviceCondition:form.html.twig') }}
{% endblock %}

{% block extrascripts %}
    
    

{% endblock %}